* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: lightsteelblue;
}

.layout > section {
    background-color: lightslategray;
}

.layout {
    text-align: center;
    font-size: 24px;
    width: 75%;
    height: 100%;
    margin: auto;

    display: grid;
    grid-template-areas: 
    "S1 S2 S2"
    "S1 S3 S4"
    "S5 S5 S4";
    gap: 5px;

    transform: rotate(45deg);
}

.section1 {
    grid-area: S1;
}

.section2 {
    grid-area: S2;
}

.section3 {
    grid-area: S3;
}

.section4 {
    grid-area: S4;
}

.section5 {
    grid-area: S5;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    body {
        background-color: lightcoral;
    }
    .layout > section {
        background-color: lightyellow;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body {
        background-color: rgb(131, 131, 189);
    }
    .layout > section {
        background-color: lightgrey;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    body {
        background-color: lightsalmon;
    }
    .layout > section {
        background-color: lightgreen;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    body {
        background-color: brown;
    }
    .layout > section {
        background-color: burlywood;
    }
}