<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <div class="features-header">
            <h1>Features</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="features-body">
            <div class="feature">
                <div class="feature-circle">
                    <div class="icon">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
                <div class="feature-details">
                    <h3>Suscipit tellus</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-circle">
                    <div class="icon">
                        <i class="fa fa-comments"></i>
                    </div>
                </div>
                <div class="feature-details">
                    <h3>Consequat mauris</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-circle">
                    <div class="icon">
                        <i class="fa fa-cloud-download"></i>
                    </div>
                </div>
                <div class="feature-details">
                    <h3>Habitasse platea</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-circle">
                    <div class="icon">
                        <i class="fa fa-leaf"></i>
                    </div>
                </div>
                <div class="feature-details">
                    <h3>Adipisicing elit</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-circle">
                    <div class="icon">
                        <i class="fa fa-cogs"></i> 
                    </div>
                </div>
                <div class="feature-details">
                    <h3>Sed do elusmod</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-circle">
                    <div class="icon">
                        <i class="fa fa-heart"></i>
                    </div>
                </div>
                <div class="feature-details">
                    <h3>Labore et dolore</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>